# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vite
node_modules
dist
dist-ssr
*.local
.wrangler

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
www
pnpm-lock.yaml
package-lock.json

# Environment files
.env
.env.production
.dev.vars

# Other
.DS_Store
.cursorrules

# Ignore CSS source maps
*.css.map